html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 98vh;

}

.pageBody {
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 90vh;
}

.sideNav {
    flex: .33;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.chatWindow {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f3f6fc;
    margin-right: 50px;
    margin-left: 40px;
    border-radius: 40px;
}


.promptContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 30px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.conversationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90%;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}


.conversationContainer::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}


.conversationContainer::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
}




/* .container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "leftSide RightSide";
    grid-template-columns: 1fr 2fr;


}




.ChatMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 85vh;
    overflow-y: scroll;

}



.bot-message {
    padding: 10px;
    margin: 5px 0;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;

}

.SelectApp {
    display: flex;
    flex-direction: column;

}

.leftSide {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 1px;
    height: 100vh;
}

.title {
    text-align: center;
}

.buttonSend {
    width: 10%;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-Radius: 5px;
    cursor: pointer;
}

.enterText {
    width: 90%;
    display: flex;

}

.toggleLeftSide {
    background-color: #3498db;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1026px) {

    .container {
        display: flex;
    }

    .rightSide {
        width: 100vh;
    }

    .toggleLeftSide {
        display: block;

    }

    .leftSide {
        width: 40vh;
    }


} */